                        <div class="sb-sidenav-menu-heading">Quản lý nội dung</div>
                        <a class="nav-link" asp-controller="Admin" asp-action="ManageForumCategories">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                            Quản lý danh mục forum
                        </a> 